
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <!--Detalle Producto-->
                        <div class="col-sm-9">

                        </div>
                        <!--Detalle Envio-->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle Envio</h5>
                                    <form>
                                        <div class="mb-2">
                                            <label for="selectProvincia" class="form-label">Provincia:</label>
                                            <select class="form-select form-select-sm" id="selectProvincia"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="selectCiudad" class="form-label">Ciudad:</label>
                                            <select class="form-select form-select-sm" id="selectCiudad"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="" class="form-label">Nombre de Contacto:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtNombreContacto" autocomplete="off">
                                        </div>
                                        <div class="mb-2">
                                            <label for="" class="form-label">Direccion:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtDireccion" autocomplete="off">
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtTelefono" class="form-label">Telefono:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtTelefono" autocomplete="off">
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-success" type="button" onclick="RealizarPago()">
                                                <i class="fab fa-paypal"></i> Terminar y Procesar Pago
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

